body {
    background-color: #8C2E2E;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.myContainer {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scriptContainer {
    background-color: rgba(255, 255, 255, 0.626);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.scriptTitleText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    color: black;
}

.script {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
}

.imageContainer {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}


