body {
    background-color: #8C2E2E;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
}

.myContainer {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.choixContainer {
    background-color: rgba(255, 255, 255, 0.626);
    padding: 20px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
}

.choixTitleText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: bolder;
    color: black;
}

.choixText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: black;
}

.choixContainer:hover{
    transform: scale(1.08);
    transition: transform 0.3s ease-in-out;
}
