body {
  background-image: url("background.png"); 
  height: 100vh; /* Full height */
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.navbar {
  font-family: 'Montserrat', sans-serif;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 15%;
  padding-right: 45%;
}

.titleText{
  color: white;
  font-size: 5.3rem;
  font-weight: bolder;
  font-family: 'DM Serif Display', serif;
}

.wordContainer {
  padding-bottom: 30px;
}

.authorText1, .authorText2, .authorText3{
  color: white;
  font-size: 0.9rem;
  font-weight: lighter;
  font-family: 'Montserrat', sans-serif;
}

.wordText {
  color: white;
  font-size: 2rem;
  font-family: 'DM Serif Display', serif;
}